/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@media (max-width: 767px) {}
@media (min-width: 767.01px) and (max-width: 991px) {}
@media (min-width: 991.01px) and (max-width: 1200px) {}
@media screen and (min-width: 1200.01px) {}

/*Colors*/
:root {
    --title-color: #2993c5;
    --header-color: #646363;
    --main-color: rgba(170, 200, 40, 0.4);
    --secondary-color: rgba(123, 136, 209, 0.4);
    --tertiary-color: rgba(236, 142, 189, 0.4);
    --text-color: rgb(2, 2, 2);
    --overlay-color: #4070f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(image/microphone-retro-fond-musique_98292-3842.jpg) fixed no-repeat;
    background-size: cover;
}

header {
    /*background: url(image/microphone-retro-fond-musique_98292-3842.jpg) fixed no-repeat;
    background-size: cover;*/
}

/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    font-size: 3.1vw;
    text-align: center;
    text-decoration: underline;
    color: var(--title-color);
}

#explication {
    font-size: 2.5vw;
    text-align: center;
    font-weight: 500;
    color: var(--header-color);
    margin-bottom: 2.4vw;
}

.espace-bar {
    width: 75vw;
    height: 0.4vh;
    background-color: #2993c5;
    margin-left: 11.5vw;
    margin-bottom: 2.4vw;
}

/************ Mise en forme concernant la barre de recherche************/

#search-argument {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    font-size: 2.4vw;
    
}

#search-bar {
    width: 35vw;
    font-size: 2.4vw;
}

#search-submit {
    font-size: 2.4vw;
    font-weight: 600;
    width: 16vw;
    background-color: #265df2;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    margin-left: 0.4vw;
    cursor: pointer;    
}

#search-submit:hover {
    font-size: 2.4vw;
    font-weight: 600;
    width: 16vw;
    background-color: #4070f4;
    border: 0.5vw #4070f4 ridge;
    border-radius: 1vw;
    transform: scale(1.1);
    cursor: pointer;
}

#search-submit:active {
    font-size: 2.4vw;
    font-weight: 600;
    width: 16vw;
    background-color: #4f78e9;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    transform: scale(0.98);
    cursor: pointer;
}

/*************** Mise en forme concernant les filtres ******************/

/*----------- Mise en forme concernant l'ensemble des filtres ----------------*/

#filters {
    font-size: 5.6vw;
    margin: 1.16vw 0 0 3.8vw;
}

.submit-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.4vw 0;
}

#categorie, #categorie2 {
    font-size: 2.6vw;
    border-radius: 0.96vw;
    height: 4.76vw;
    text-align: center;
    font-weight: 600;
}

#categorie:hover, #categorie2:hover {
    box-shadow: 0.1rem 0.1rem 0.47rem 0.35rem #474747;
}

/*-------------- Mise en forme concernant les sections généralement ---------------*/

.filter-title {
    font-size: 2.6vw;
    font-weight: 600;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-size: 2.2vw;
    margin: 20px 0 20px 50px;
    font-weight: 470;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-sens-creation, #button-submit-filter-creation, #button-artist-length {
    font-size: 2.2vw;
    height: 4vw;
    width: 10.4vw;
    padding-bottom: 2vw;
    background-color: #4f78e9;
    border-radius: 0.96vw;
    cursor: pointer;
    border: #4f78e9 ridge 0.4vw;
}

#button-artist-length {
    position: absolute;
    /*margin-left: 12.5vw;*/
    left: 46%;

}

#button-submit-filter-alphabet:hover, #button-submit-filter-concert:hover, #button-submit-filter-dates:hover, #button-submit-filter-sens-creation:hover, #button-submit-filter-dates:hover, #button-submit-filter-creation:hover, #button-artist-length:hover {
    background-color: #5d85f5;
    transform: scale(1.1);
    box-shadow: 0 0 2.3vw rgba(0, 0, 0, 0.4);
}

#button-submit-filter-alphabet:active, #button-submit-filter-concert:active, #button-submit-filter-dates:active, #button-submit-filter-sens-creation:active, #button-submit-filter-creation:active, #button-artist-length:active {
    background-color: #5d85f5;
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*/////////// Mise en forme concernant la section qui gère la gestion des cards par ordre alphabétique ou non \\\\\\\\\\\\\*/

#read-section {
    background-color: var(--main-color);
    padding-left: 0.55rem;
    margin: -1.2rem 2.5rem 0.55rem 0;
    border-radius: 0.47rem;
}

#read-section > label {
    padding-left: 1.1rem;
}

/*/////////// Mise en forme concernant la section qui gère les Dates de Concerts \\\\\\\\\\\\\\\*/

#concert-section {
    background-color: var(--secondary-color);
    padding-left: 0.55rem;
    margin: 0.55rem 2.5rem 0.55rem 0;
    border-radius: 0.96vw;
}

#concert-section > label {
    padding-left: 1.8vw;
}

#categorie {
    width: 9vw;
}

/* Sous-section qui gère une date de concert en particulier précisée sous forme de date*/

#concert-date {
    border-radius: 0.9vw;
    height: 2.9vw;
    width: 18vw;
    text-align: center;
    font-weight: 600;
}

#concert-date:hover {
    box-shadow: 0.2vw 0.2vw 0.94vw 0.76vw #474747;
}

/* Sous-section qui gère tous les artistes qui ont eu un concert entre 2 dates précises précisées sous de date*/

/*/////////// Mise en forme concernant la section qui gère les Dates de Créations des groupes \\\\\\\\\\\\\*/

#creation-section {
    background-color: var(--tertiary-color);
    padding: 0.35rem 0 0.7vw 1.1vw;
    margin: 01.1vw 5vw 1.1vw 0;
    border-radius: 0.94vw;
}

#creation-section > label {
    padding-left: 2.3vw;
}

/* Sous-section qui gère l'ordre de création des groupe du plus récent au plus ancien par liste déroulante */

#categorie2 {
    width: 16vw;
}



/* Sous-section qui gère les dates de création des groupes entre 2 dates mais choisi par des checkboxs */

#table-choiceBetweenTwoDates {
    margin: -3.8vw 0 1.96vw 2.3vw;
}

#label-searchDate {
    display: inline-block;
    margin-right: 1.14vw;
}

#research-startDate {
    font-size: 2.6vw;
    border-radius: 0.96vw;
    height: 4vw;
    width: 18vw;
    text-align: center;
    font-weight: 600;
    margin-right: 4vw;
}

#research-startDate:hover, #research-endDate:hover {
    box-shadow: 0.17vw 0.17vw 0.96vw 0.66vw #474747;
}

#research-endDate {
    font-size: 2.6vw;
    border-radius: 0.96vw;
    height: 4vw;
    width: 18vw;
    text-align: center;
    font-weight: 600;
}

#before-1980 {
    height: 2.3vw;
    width: 2.3vw;
    margin-left: 8.64vw;
    margin-bottom: -0.4vw;
}

#date_1980-1990 {
    height: 2.3vw;
    width: 2.3vw;
    margin-left: 1.218vw;
    margin-bottom: -0.4vw;
}

#date_1990-2000 {
    height: 2.3vw;
    width: 2.3vw;
    margin-left: 0.7vw;
    margin-bottom: -0.4vw;
}

#date_2000-2010 {
    height: 2.3vw;
    width: 2.3vw;
    margin-left: 0.8vw;
    margin-bottom: -0.4vw;
}

#after-2010 {
    height: 2.3vw;
    width: 2.3vw;
    margin-left: 15.870vw;
    margin-bottom: -0.4vw;
}

#before-1980:hover, #date_1980-1990:hover, #date_1990-2000:hover, #date_2000-2010:hover, #after-2010:hover {
    box-shadow: 0.2vw 0.2vw 0.94vw 0.7vw #474747;
}

.artist-length {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 2.6vw;
    font-weight: 550;
    margin-left: 8vw;
}

#nombre {
    height: 3.8vw;
    width: 6.6vw;
    font-size: 2.6vw;
}

/********************************************************************************/
/*************** Mise en forme concernant les cards en général ******************/
/********************************************************************************/

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 4.95vw 0;
    /*background-color: #8d8c8c;*/
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.3vw;
    margin: 0 2.3vw;
}

.card {
    position: relative;
    width: 34vw;
    height: 44.9vw;
    border-radius: 4vw;
    background-color: #fff;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 2s ease-in-out, top 2s ease, left 2s ease, width 1s ease-in-out, height 1s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.card.centered {
   position: fixed; /* Changez de 'absolute' à 'fixed' pour centrer dans toute la fenêtre */
   top: 50%;  /* Centrage vertical */
   left: 50%; /* Centrage horizontal */
   transform: translate(-50%, -50%) scale(2.05) rotateY(180deg); /* Centrer avec une échelle augmentée */
   transform-style: preserve-3d;
   z-index: 1000; /* Assurez-vous que la carte est au-dessus des autres éléments */
   transition: transform 2s ease-in-out, top 2s ease, left 2s ease;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/*////////////// Mise en forme concernant la coté front \\\\\\\\\\\\\\\\*/

.card .card-front {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.6s ease-in-out;
    transform: rotateY(0deg);
}

.card-front {
    border: 0.76vw #dbd9d9 ridge;
    border-radius: 3.1vw;
    background-color: #fff;
    transform: rotateY(0deg);
}

.card-content-front {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .image-content {
    position: relative;
    width: 100%;
    height: 60%;
}

.card .image-content img {
    width: 100%;
    height: auto;
    border-radius: 1vw;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 93%;
    width: 100%;
    background-color: var(--overlay-color);
    border-radius: 2.4vw 2.4vw 0 3.1vw;
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -4.8vw;
    height: 4.8vw;
    width: 4.8vw;
    background-color: var(--overlay-color);
}

.overlay::after {
    border-radius: 0 3.1vw 0 0;
    background-color: #fff;
}

.image-content {
    position: relative;
    row-gap: 0.66vw;
    margin: 0 0 -4vw 0;
}

.image-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 1.8vw 1.8vw 0;
}

#artist-image {
    position: relative;
    height: 18vw;
    width: 18vw;
    border-radius: 50%;
    background: #fff;
    margin-top: 1.4vw;
    padding: 0.5vw;
}

#artist-image #artist-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.6vw solid var(--overlay-color);
}

#artistName {
    font-size: 2.3vw;
    font-weight: 500;
    color: #333;
    margin-top: 0.4vw;
    z-index: 4;
}

#dateOfCreat {
    font-size: 1.96vw;
    line-height: 3.8vw;
    color: #707070;
    text-align: center;
}

#firstAlbum {
    font-size: 1.86vw;
    font-weight: 500;
    color: #6453fa;
    line-height: 2.3vw;
    margin-top: -1vw;
}

.flip-button {
    width: 15vw;
    height: 5.4vw;
    margin-bottom: 1.4vw;
    left: 28%;
    align-items: center;
    border: #265df2 double 0.4vw;
    border-radius: 1vw;
    font-size: 1.9vw;
    color: #fff;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.flip-button:hover {
    background: #265df2;
}

.flip-button:active {
    transform:scale(0.9);
    background: #4070f4;
}

/*/////////////// Mise en forme concernant la coté back \\\\\\\\\\\\\\\\*/

.card .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /*padding: 10px;*/
    border-radius: 1vw;
    border: #333 0.6vw ridge;
    box-shadow: inset 0.6vw 2vw 2vw #474747 ;
    transition: transform 0.6s ease-in-out;
    transform: rotateY(180deg);
    color: var(--text-color);
    padding: 2vw;
}

.card-back {
    border-radius: 3vw;
    background: url(image/feuille-notes-musique_144627-25506.jpg) center;
    background-size: cover;
}

.card-content-back {
    /*display: flex;
    flex-direction: column;
    align-items: start;*/
    margin-top: 1.32vw;
}

.flex-artist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-members {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#artist-image-back {
    position: relative;
    height: 11.6vw;
    width: 11.6vw;
    border-radius: 1.04vw;
    background: #dbd9d9;
    margin-left: -1vw;
    margin-top: -1vw;
    padding: 0.5vw;
}

#artist-image-back #artist-img-back {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
    border: 0.4vw solid #4070f4;
    box-shadow: 0.6vw 1vw 2vw 0.4vw #474747;
    
}

#artist-image-back #artist-img-back:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
    border: 0.5vw solid #4070f4;
    box-shadow: 0.6vw 1.6vw 2vw 0.4vw #474747;
    transform: scale(1.081);
}

#members, #concerts {
    font-size: 1.4vw;
    font-weight: 600;
    color: #3f3f3f;
    /*margin-left: 0rem;*/
    text-decoration: underline black;
    line-height: 3.6vw;
    margin-bottom: -1vw;
    margin-left: 1vw;
}

#members {
    margin-top: -1vw;
    margin-bottom: 0.18vw;
}

#concerts {
    margin-top: -0.6vw;
    margin-bottom: -0.3vw;
}

.list-member {
    /*display: flex;
    flex-direction: column;*/
}

.album-member {
    font-size: 1.04vw;
    margin-left: 1.6vw;
}

.artists-concerts {
    font-size: 1.1vw;
    margin-left: 1vw;
}

/* Transition pour remettre la carte à sa position initiale */
.return-button {
    width: 10.2vw;
    height: 3.0vw;
    margin-bottom: -0.8vw;
    margin-left: 30%;
    border: #265df2 double 0.34vw;
    border-radius: 0.75vw;
    font-size: 1.4vw;
    color: #fff;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.return-button:hover {
    background: #265df2;
}

.return-button:active {
    transform:scale(0.9);
    background: #4070f4;
}