/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color: #2993c5;
}

#explication {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #646363;
}

****************************************

/* Mise en forme concernant les filtres */

/* Mise en forme concernant l'ensemble des filtres */

#filters {
    font-size: 29px;
    margin: 10px 0px 0px 28px;
}

.submit-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-size: 16.5px;
    margin: 20px 0 20px 50px;
    font-weight: 470;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-creation {
    font-size: 16px;
    height: 32px;
    width: 83px;
    padding-bottom: 15px;
    background-color: #4f78e9;
    border-radius: 7px;
    cursor: pointer;
    border: #4f78e9 double 3px;
}

#button-submit-filter-alphabet:hover, #button-submit-filter-concert:hover, #button-submit-filter-dates:hover, #button-submit-filter-creation:hover {
    background-color: #5d85f5;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#button-submit-filter-alphabet:active, #button-submit-filter-concert:active, #button-submit-filter-dates:active, #button-submit-filter-creation:active {
    background-color: #5d85f5;
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

*****************************************************************

/* Mise en forme concernant la sous-section des filtres permettant d'aller dans l'ordre alphabétique ou non */
#read-section {
    background-color: rgba(170, 200, 40, 0.4);
    padding-left: 10px;
    margin: -20px 40px 10px 0px;
    border-radius: 7px;
}

#read-section > label {
    padding-left: 20px;
}

#concert-section {
    background-color: rgba(123, 136, 209, 0.4);
    padding-left: 10px;
    margin: 10px 40px 10px 0px;
    border-radius: 7px;
}

#concert-section > label {
    padding-left: 20px;
}

#creation-section {
    background-color: rgba(236, 142, 189, 0.4);
    padding: 5px 0 5px 10px;
    margin: 10px 40px 10px 0px;
    border-radius: 7px;
}

#creation-section > label {
    padding-left: 20px;
}

#categorie {
    border-radius: 7px;
    height: 30px;
    width: 70px;
    text-align: center;
    font-weight: 600;
}

#categorie2 {
    border-radius: 7px;
    height: 30px;
    width: 120px;
    text-align: center;
    font-weight: 600;
}

#categorie:hover {
    box-shadow: 2px 2px 7px 5px #474747;
}

#concert-date {
    border-radius: 7px;
    height: 30px;
    width: 145px;
    text-align: center;
    font-weight: 600;
}

#concert-date:hover {
    box-shadow: 2px 2px 7px 5px #474747;
}

#table-choiceBetweenTwoDates {
    margin: -30px 0px 15px 20px;
}

#research-startDate {
    border-radius: 7px;
    height: 30px;
    width: 145px;
    text-align: center;
    font-weight: 600;
}

#research-startDate {
    box-shadow: 2px 2px 7px 5px #474747;
}

#research-endDate {
    border-radius: 7px;
    height: 30px;
    width: 145px;
    text-align: center;
    font-weight: 600;
    box-shadow: 2px 2px 7px 5px #474747;
}

#label-searchDate {
    display: inline-block;
    margin-right: 10px;
}

#button-submit-dates {
    font-size: 16px;
    height: 37px;
    width: 83px;
    background-color: #4f78e9;
    border-radius: 7px;
    border: #4f78e9 double 3px;
}

#button-submit-dates:hover {
    background-color: #7999f0;
}

#before-1980 {
    height: 14px;
    width: 14px;
    margin-left: 60px;
}

#before-1980:hover {
    box-shadow: 2px 2px 7px 5px #474747;
}

#date_1980-1990 {
    height: 14px;
    width: 14px;
    margin-left: 5.2px;
}

#date_1980-1990:hover {
    box-shadow: 2px 2px 7px 5px #474747;
}

#date_1990-2000 {
    height: 14px;
    width: 14px;
    margin-left: 1.22px;
}

#date_1990-2000:hover {
    box-shadow: 2px 2px 7px 5px #474747;
}

#date_2000-2010 {
    height: 14px;
    width: 14px;
    margin-left: 2.16px;
}

#date_2000-2010:hover {
    box-shadow: 2px 2px 7px 5px #474747;
}

#after-2010 {
    height: 14px;
    width: 14px;
    margin-left: 115.1px;
}

#after-2010:hover {
    box-shadow: 2px 2px 7px 5px #474747;
}





.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: grey;
    padding: 40px 0;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0 20px;
}

.card {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background-color: #fff;
    /*perspective: 1000px;*/
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-front {
    border-radius: 25px;
    background-color: #fff;
}

.card-back {
    border-radius: 25px;
    background-color: #fff;
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card.flipped {
    transform: rotateY(180deg);
}

.flip-button {
    position: absolute;
    width: 120px;
    bottom: 5px;
    left: 28%;
    align-items: center;
    border: #265df2 double 4px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.flip-button:hover {
    background: #265df2;
}

.flip-button:active {
    transform:scale(0.9);
    background: #4070f4;
}

/*#card:target {
    transform: rotateY(180deg);
}*/

/*.button-flip:checked ~ .card {
    transform: rotateY(180deg);
}*/

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px 14px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

#artist-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

#artist-image #artist-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

/*.artist {
    background-color: #fff;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    width: 12%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}*/

/*.artist img {
    border-radius: 5px;
    width: 99% ;
    object-fit: cover;
    margin-bottom: -10px;
    border: black solid 2px;
}*/

/*#nameArtist {
    font-size: 22px;
}*/

/*.artist > h3 {
    font-weight: 800;
    text-decoration: underline;
}*/

#artistName {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

#dateOfCreat {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

#members {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

/*.button{
    position: absolute;
    bottom: 0px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 6px 11px;
    background-color: #4070f4;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}*/

/*.button:hover {
    background: #265df2;
}*/

/*.artist > p {
    margin: 10px 0;
    line-height: 23px;
    word-wrap: break-word;
}*/

/*#returnHome {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}*/

/*#returnHome:hover {
    background-color: #0056b3;
}*/