/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*Colors*/
:root {
    --title-color: #2993c5;
    --header-color: #444444;
    --main-color: rgba(170, 200, 40, 0.4);
    --secondary-color: rgba(123, 136, 209, 0.4);
    --tertiary-color: rgba(236, 142, 189, 0.4);
    --text-color: rgb(2, 2, 2);
    --overlay-color: #4070f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(image/microphone-retro-fond-musique_98292-3842.jpg) fixed no-repeat;
    background-size: cover;
    padding: 0 0.3rem 0 0.4rem ;
}

header {
    /*background: url(image/microphone-retro-fond-musique_98292-3842.jpg) fixed no-repeat;
    background-size: cover;*/
}

/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    text-align: center;
    text-decoration: underline;
    color: var(--title-color);
}

#explication {
    font-weight: 500;
    text-align: center;
    color: var(--header-color);
}

.espace-bar {
    background-color: #2993c5;
    margin: 0 auto;
}

/************ Mise en forme concernant la barre de recherche************/

#search-argument {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    background-color: #e0e0b4;
    text-align: center;
}

#search-submit {
    font-weight: 600;
    background-color: #265df2;
    cursor: pointer;    
}

#search-submit:hover {
    font-weight: 600;
    background-color: #4070f4;
    cursor: pointer;
}

#search-submit:active {
    font-weight: 600;
    background-color: #4f78e9;
    cursor: pointer;
}

/*************** Mise en forme concernant les filtres ******************/

/*----------- Mise en forme concernant l'ensemble des filtres ----------------*/
#filters {
    text-decoration: underline;
}

.submit-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#categorie, #categorie2 {
    text-align: center;
    font-weight: 600;
}

/*-------------- Mise en forme concernant les sections généralement ---------------*/
.filter-title {
    font-weight: 600;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-weight: 470;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-sens-creation, #button-submit-filter-creation, #button-artist-length {
    font-weight: 600;
    cursor: pointer;
}

#button-submit-filter-alphabet:hover, #button-submit-filter-concert:hover, #button-submit-filter-dates:hover, #button-submit-filter-sens-creation:hover, #button-submit-filter-dates:hover, #button-submit-filter-creation:hover, #button-artist-length:hover {
    background-color: #5d85f5;
    transform: scale(1.1);
    box-shadow: 0 0 2.3vw rgba(0, 0, 0, 0.4);
}

#button-submit-filter-alphabet:active, #button-submit-filter-concert:active, #button-submit-filter-dates:active, #button-submit-filter-sens-creation:active, #button-submit-filter-creation:active, #button-artist-length:active {
    background-color: #5d85f5;
    transform: scale(0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#button-artist-length {
    text-align: center;
}

/*/////////// Mise en forme concernant la section qui gère la gestion des cards par ordre alphabétique ou non \\\\\\\\\\\\\*/

#read-section {
    background-color: var(--main-color);
}

/*/////////// Mise en forme concernant la section qui gère les Dates de Concerts \\\\\\\\\\\\\\\*/

#concert-section {
    background-color: var(--secondary-color);
}

/* Sous-section qui gère une date de concert en particulier précisée sous forme de date*/

#concert-dates {
    position: relative;
}

#concert-date:hover {
    box-shadow: 0.2vw 0.2vw 0.94vw 0.76vw #474747;
}

/* Sous-section qui gère tous les artistes qui ont eu un concert entre 2 dates précises précisées sous de date*/

/*/////////// Mise en forme concernant la section qui gère les Dates de Créations des groupes \\\\\\\\\\\\\*/

#creation-section {
    background-color: var(--tertiary-color);
}

/* Sous-section qui gère les dates de création des groupes entre 2 dates mais choisi par des checkboxs */
#label-searchDate {
    display: inline-block;
}

#research-startDate:hover, #research-endDate:hover {
    box-shadow: 0.17vw 0.17vw 0.96vw 0.66vw #474747;
}

#research-startDate, #research-endDate {
    text-align: center;
    font-weight: 600;
}

#before-1980:hover, #date_1980-1990:hover, #date_1990-2000:hover, #date_2000-2010:hover, #after-2010:hover {
    box-shadow: 0.2vw 0.2vw 0.94vw 0.7vw #474747;
}

.artist-length {
    font-weight: 550;
    text-align: center;
    text-decoration: underline;
}

#nombre {
    text-align: center;
}


/********************************************************************************/
/*************** Mise en forme concernant les cards en général ******************/
/********************************************************************************/

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    background-color: #fff;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 2s ease-in-out, top 2s ease, left 2s ease, width 1s ease-in-out, height 1s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.card.centered {
    position: fixed; /* Changez de 'absolute' à 'fixed' pour centrer dans toute la fenêtre */
    top: 50%;  /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    transform-style: preserve-3d;
    z-index: 1000; /* Assurez-vous que la carte est au-dessus des autres éléments */
    transition: transform 2s ease-in-out, top 2s ease, left 2s ease;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #fff;
    transform: rotateY(0deg);
}

.card .image-content img {
    width: 100%;
    height: auto;
}

/*////////////// Mise en forme concernant la coté front \\\\\\\\\\\\\\\\*/

.card .card-front {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.6s ease-in-out;
    transform: rotateY(0deg);
}

.card-content-front {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .image-content {
    position: relative;
    width: 100%;
    height: 60%;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--overlay-color);
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    background-color: var(--overlay-color);
}

.overlay::after {
    background-color: #fff;
}

.image-content {
    position: relative;
}

.image-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#artist-image {
    position: relative;
    border-radius: 50%;
    background: #fff;
}

#artist-image #artist-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#artistName {
    font-weight: 500;
    color: #333;
    z-index: 4;
}

#artistName {
    font-weight: 500;
    color: #333;
    z-index: 4;
}

#dateOfCreat {
    color: #707070;
    text-align: center;
}

#firstAlbum {
    font-weight: 500;
    color: #6453fa;
}

.flip-button {
    left: 28%;
    align-items: center;
    color: #fff;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.flip-button:hover {
    background: #265df2;
}

.flip-button:active {
    transform:scale(0.9);
    background: #4070f4;
}

/*/////////////// Mise en forme concernant la coté back \\\\\\\\\\\\\\\\*/

.card .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    transition: transform 0.6s ease-in-out;
    transform: rotateY(180deg);
    color: var(--text-color);
}

.card-back {
    background: url(image/feuille-notes-musique_144627-25506.jpg) center;
    background-size: cover;
}

.flex-artist {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-members {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#artist-image-back {
    position: relative;
    background: #dbd9d9;
}

#artist-image-back #artist-img-back {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#artist-image-back #artist-img-back:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#members, #concerts {
    font-weight: 600;
    color: #3f3f3f;
    /*margin-left: 0rem;*/
    text-decoration: underline black;
}

.list-member {
    /*display: flex;
    flex-direction: column;*/
}

/* Transition pour remettre la carte à sa position initiale */
.return-button {
    margin-left: 30%;
    color: #fff;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.return-button:hover {
    background: #265df2;
}
.return-button:active {
    background: #4070f4;
}

@media (max-width: 480px) {
/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    font-size: 5vw;
}

#explication {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

.espace-bar {
    width: 75vw;
    height: 0.2rem;
    margin-bottom: 2.4vw;
}

/************ Mise en forme concernant la barre de recherche************/

.search-title {
    font-size: 2.8vw;
}

.search-bar {
    width: 35vw;
    font-size: 2.4vw;
    margin-left: 20%;
}

#search-submit {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    margin-left: 0.4vw; 
}

#search-submit:hover {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #4070f4 ridge;
    border-radius: 1vw;
    transform: scale(1.1);
}

#search-submit:active {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    transform: scale(0.98);
}

/*************** Mise en forme concernant les filtres ******************/

/*----------- Mise en forme concernant l'ensemble des filtres ----------------*/

#filters {
    font-size: 4vw;
    margin: 1.16vw 0 0 3.8vw;
}

.submit-filter {
    padding: 2.4vw 0;
}

#categorie, #categorie2 {
    font-size: 2.5vw;
    border-radius: 0.96vw;
    height: 1.5rem;
    width: 15vw;
}

#categorie:hover, #categorie2:hover {
    box-shadow: 0.1rem 0.1rem 0.47rem 0.35rem #474747;
}

/*-------------- Mise en forme concernant les sections généralement ---------------*/

.filter-title {
    font-size: 3.2vw;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-size: 2.7vw;
    margin: 0.2vw 0.2vw 0.2vw 0.45vw;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-sens-creation, #button-submit-filter-creation, #button-artist-length {
    font-size: 2.4vw;
    height: 1.3rem;
    width: 13vw;
    border-radius: 0.9vw;
    border: #4f78e9 ridge 0.4vw;
    margin-top: -0.4rem;
}

#button-artist-length {
    margin-left: -2.8rem;
}

/*/////////// Mise en forme concernant la section qui gère la gestion des cards par ordre alphabétique ou non \\\\\\\\\\\\\*/

#read-section {
    padding-left: 0.55vw;
    margin: 0.2rem 2.5vw 0.55rem 0;
    border-radius: 0.47rem;
}

#read-section > label {
    padding-left: 2.3vw;
}

/*/////////// Mise en forme concernant la section qui gère les Dates de Concerts \\\\\\\\\\\\\\\*/

#concert-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.96vw;
}


/* Sous-section qui gère tous les artistes qui ont eu un concert entre 2 dates précises précisées sous de date*/

/*/////////// Mise en forme concernant la section qui gère les Dates de Créations des groupes \\\\\\\\\\\\\*/

#creation-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.94vw;
}

#creation-section > label {
    padding-left: 2.3vw;
}

/* Sous-section qui gère l'ordre de création des groupe du plus récent au plus ancien par liste déroulante */

#categorie2 {
    width: 20vw;
}



/* Sous-section qui gère les dates de création des groupes entre 2 dates mais choisi par des checkboxs */

#table-choiceBetweenTwoDates {
    margin: -3.8vw 0 1.96vw 2.3vw;
}

#label-searchDate {
    margin-right: 1.14vw;
}
.concert-dates > label {
    padding-left: 2.95vw;
}

#research-startDate, #research-endDate {
    font-size: 2.1rem;
    border-radius: 0.96vw;
    height: 2.9rem;
    width: 25vw;
    margin-left: 7rem;
}

#research-endDate {
    margin-left: 10.2rem;
}



#before-1980 {
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 10.7vw;
    margin-bottom: -0.4vw;
}

#date_1980-1990{
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 1.75vw;
    margin-bottom: -0.4vw;
}

#date_1990-2000{
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 1.12vw;
    margin-bottom: -0.4vw;
}

#date_2000-2010{
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 1.15vw;
    margin-bottom: -0.4vw;
}

#after-2010{
    height: 2.5vw;
    width: 2.5vw;
    margin-left: 19.780vw;
    margin-bottom: -0.4vw;
}

.artist-length {
    font-size: 3.4vw;
}

#nombre {
    height: 4.7vw;
    width: 7.8vw;
    font-size: 3.2vw;
    border-radius: 0.2rem;
}

.page-number {
    margin-left: 45%;
}

#previous {
    height: 3.4rem;
    width: 3.4rem;
}

#next {
    height: 3.4rem;
    width: 3.4rem;
}

/********************************************************************************/
/*************** Mise en forme concernant les cards en général ******************/
/********************************************************************************/

.card-container {
    padding: 3vw 0;
}

.artist-list {
    gap: 2.3vw;
    margin: 0 2.3vw;
}

.card {
    width: 34vw;
    height: 44.9vw;
    border-radius: 4vw;
}

.card.centered {
   transform: translate(-50%, -50%) scale(2.6) rotateY(180deg); /* Centrer avec une échelle augmentée */
}

/*////////////// Mise en forme concernant la coté front \\\\\\\\\\\\\\\\*/

.card-front {
    border: 0.76vw #dbd9d9 ridge;
    border-radius: 3.1vw;
}

.card .image-content img {
    border-radius: 1vw;
}

.overlay {
    height: 93%;
    width: 100%;
    border-radius: 2.4vw 2.4vw 0 3.1vw;
}

.overlay::before, .overlay::after {
    bottom: -4.8vw;
    height: 4.8vw;
    width: 4.8vw;
}

.overlay::after {
    border-radius: 0 3.1vw 0 0;
}

.image-content {
    row-gap: 0.66vw;
    margin: 0 0 -4vw 0;
}

.image-content { 
    padding: 1.8vw 1.8vw 0;
}

#artist-image {
    height: 18vw;
    width: 18vw;
    margin-top: 1.4vw;
    padding: 0.5vw;
}

#artist-image #artist-img {
    border: 0.6vw solid var(--overlay-color);
}

#artistName {
    font-size: 2.3vw;
    margin-top: 0.4vw;
}

#dateOfCreat {
    font-size: 1.96vw;
    line-height: 3.8vw;
}

#firstAlbum {
    font-size: 1.86vw;
    line-height: 2.3vw;
    margin-top: -1vw;
}

.flip-button {
    width: 15vw;
    height: 5.4vw;
    margin-bottom: 1.4vw;
    border: #265df2 double 0.4vw;
    border-radius: 1vw;
    font-size: 1.9vw;
}

/*/////////////// Mise en forme concernant la coté back \\\\\\\\\\\\\\\\*/

.card .card-back {
    border-radius: 1vw;
    border: #333 0.6vw ridge;
    box-shadow: inset 0.6vw 2vw 2vw #474747 ;
    padding: 2vw;
}

.card-back {
    border-radius: 3vw;
}

.card-content-back {
    margin-top: 1.32vw;
}

#artist-image-back {
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 1.04vw;
    margin-left: -1.2vw;
    margin-top: -2.3vw;
    padding: 0.5vw;
    margin-right: 2vw;
}

#artist-image-back #artist-img-back {
    border-radius: 1vw;
    border: 0.4vw solid #4070f4;
    box-shadow: 0.6vw 1vw 2vw 0.4vw #474747;
    
}

#artist-image-back #artist-img-back:hover {
    border-radius: 1vw;
    border: 0.5vw solid #4070f4;
    box-shadow: 0.6vw 1.6vw 2vw 0.4vw #474747;
    transform: scale(1.081);
}

#members, #concerts {
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: -1vw;
    margin-left: 1vw;
}

#members {
    margin-top: -1vw;
    margin-bottom: 0.18vw;
}

#concerts {
    margin-top: -0.6vw;
    margin-bottom: -0.3vw;
}

.album-member {
    font-size: 1.04vw;
    margin-left: 1.6vw;
}

.artists-concerts {
    font-size: 1.1vw;
    margin-left: 1vw;
}

/* Transition pour remettre la carte à sa position initiale */
.return-button {
    width: 10.2vw;
    height: 3.0vw;
    margin-bottom: -0.8vw;
    border: #265df2 double 0.34vw;
    border-radius: 0.75vw;
    font-size: 1.4vw;
}

.return-button:active {
    transform:scale(0.9);
}
}
@media (min-width: 480.01px) and (max-width: 768px) {

/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    font-size: 4.1vw;
}

#explication {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

.espace-bar {
    width: 75vw;
    height: 0.2rem;
    margin-left: 11.5vw;
    margin-bottom: 2.4vw;
}

/************ Mise en forme concernant la barre de recherche************/


.search-title {
    font-size: 2.7vw;
}

.search-bar {
    width: 35vw;
    font-size: 2.4vw;
    margin-left: 22%;
}

#search-submit {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    margin-left: 0.4vw;  
}

#search-submit:hover {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #4070f4 ridge;
    border-radius: 1vw;
    transform: scale(1.1);
}

#search-submit:active {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    transform: scale(0.98);
}

/*************** Mise en forme concernant les filtres ******************/

/*----------- Mise en forme concernant l'ensemble des filtres ----------------*/

#filters {
    font-size: 3.7vw;
    margin: 1.16vw 0 1rem 3.8vw;
}

.submit-filter {
    padding: 2.4vw 0;
}

#categorie, #categorie2 {
    font-size: 2.6vw;
    border-radius: 0.96vw;
    height: 2rem;
    width: 15vw;
}

/*-------------- Mise en forme concernant les sections généralement ---------------*/

.filter-title {
    font-size: 3.2vw;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-size: 0.95rem;
    margin: 0.2vw 0.2vw 0.2vw 0.45vw;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-sens-creation, #button-submit-filter-creation, #button-artist-length {
    font-size: 2.4vw;
    height: 1.3rem;
    width: 13vw;
    border-radius: 0.9vw;
    border: #4f78e9 ridge 0.4vw;
    margin-top: -0.4rem;
}

#button-artist-length {
    margin-left: -2.8rem;
}

#button-submit-filter-alphabet:hover, #button-submit-filter-concert:hover, #button-submit-filter-dates:hover, #button-submit-filter-sens-creation:hover, #button-submit-filter-dates:hover, #button-submit-filter-creation:hover, #button-artist-length:hover {
    transform: scale(1.1);
}

#button-submit-filter-alphabet:active, #button-submit-filter-concert:active, #button-submit-filter-dates:active, #button-submit-filter-sens-creation:active, #button-submit-filter-creation:active, #button-artist-length:active {
    transform: scale(0.9);
}

/*/////////// Mise en forme concernant la section qui gère la gestion des cards par ordre alphabétique ou non \\\\\\\\\\\\\*/

#read-section {
    padding-left: 0.55vw;
    margin: 0.2rem 2.5vw 0.55rem 0;
    border-radius: 0.47rem;
}

#read-section > label {
    padding-left: 2.3vw;
}

/*/////////// Mise en forme concernant la section qui gère les Dates de Concerts \\\\\\\\\\\\\\\*/

#concert-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.96vw;
}

/* Sous-section qui gère tous les artistes qui ont eu un concert entre 2 dates précises précisées sous de date*/

/*/////////// Mise en forme concernant la section qui gère les Dates de Créations des groupes \\\\\\\\\\\\\*/

#creation-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.94vw;
}

#creation-section > label {
    padding-left: 2.3vw;
}

/* Sous-section qui gère l'ordre de création des groupe du plus récent au plus ancien par liste déroulante */

#categorie2 {
    width: 10rem;
}



/* Sous-section qui gère les dates de création des groupes entre 2 dates mais choisi par des checkboxs */

#table-choiceBetweenTwoDates {
    margin: -3.8vw 0 1.96vw 2.3vw;
}

#label-searchDate {
    margin-right: 1.14vw;
}
.concert-dates > label {
    padding-left: 2.95vw;
}

#concert-section > label {
    margin-left: 1rem;
}

#research-startDate, #research-endDate {
    font-size: 1rem;
    border-radius: 0.96vw;
    height: 2.3rem;
    width: 25vw;
    margin-left: 5rem;
}

#research-endDate {
    margin-left: 6.57rem;
}

#before-1980 {
    height: 0.9rem;
    width: 0.9rem;
    margin-left: 3.48rem;
    margin-bottom: -0.1rem;
}

#date_1980-1990{
    height: 0.9rem;
    width: 0.9rem;
    margin-left: 0.3445rem;
    margin-bottom: -0.1rem;
}

#date_1990-2000 {
    height: 0.9rem;
    width: 0.9rem;
    margin-left: 0.175rem;
    margin-bottom: -0.1rem;
}

#date_2000-2010 {
    height: 0.9rem;
    width: 0.9rem;
    margin-left: 0.2rem;
    margin-bottom: -0.1rem;
}

#after-2010 {
    height: 0.9rem;
    width: 0.9rem;
    margin-left: 6.7425rem;
    margin-bottom: -0.1rem;
}

.artist-length {
    font-size: 3.4vw;
}

#nombre {
    height: 4.7vw;
    width: 7.8vw;
    font-size: 3.2vw;
    border-radius: 0.2rem;
}

.page-number {
    margin-left: 45%;
}

#previous {
    height: 3.4rem;
    width: 3.4rem;
}

#next {
    height: 3.4rem;
    width: 3.4rem;
}

/********************************************************************************/
/*************** Mise en forme concernant les cards en général ******************/
/********************************************************************************/

.card-container {
    padding: 3vw 0;
}

.artist-list {
    gap: 2.3vw;
    margin: 0 2.3vw;
}

.card {
    width: 34vw;
    height: 44.9vw;
    border-radius: 4vw;
}

.card.centered {
   transform: translate(-50%, -50%) scale(2.4) rotateY(180deg); /* Centrer avec une échelle augmentée */
}

/*////////////// Mise en forme concernant la coté front \\\\\\\\\\\\\\\\*/

.card-front {
    border: 0.76vw #dbd9d9 ridge;
    border-radius: 3.1vw;
}

.card .image-content {
    width: 100%;
    height: 60%;
}

.card .image-content img {
    border-radius: 1vw;
}

.overlay {
    height: 93%;
    width: 100%;
    border-radius: 2.4vw 2.4vw 0 3.1vw;
}

.overlay::before, .overlay::after {
    bottom: -4.8vw;
    height: 4.8vw;
    width: 4.8vw;
}

.overlay::after {
    border-radius: 0 3.1vw 0 0;
}

.image-content {
    row-gap: 0.66vw;
    margin: 0 0 -4vw 0;
}

.image-content { 
    padding: 1.8vw 1.8vw 0;
}

#artist-image {
    height: 18vw;
    width: 18vw;
    margin-top: 1.4vw;
    padding: 0.5vw;
}

#artist-image #artist-img {
    border: 0.6vw solid var(--overlay-color);
}

#artistName {
    font-size: 2.3vw;
    margin-top: 0.4vw;
}

#dateOfCreat {
    font-size: 1.96vw;
    line-height: 3.8vw;
}

#firstAlbum {
    font-size: 1.86vw;
    line-height: 2.3vw;
    margin-top: -1vw;
}

.flip-button {
    width: 15vw;
    height: 5.4vw;
    margin-bottom: 1.4vw;
    left: 28%;
    border: #265df2 double 0.4vw;
    border-radius: 1vw;
    font-size: 1.9vw;
}

.flip-button:active {
    transform:scale(0.9);
}

/*/////////////// Mise en forme concernant la coté back \\\\\\\\\\\\\\\\*/

.card .card-back {
    border-radius: 1vw;
    border: #333 0.6vw ridge;
    box-shadow: inset 0.6vw 2vw 2vw #474747 ;
    padding: 2vw;
}

.card-back {
    border-radius: 3vw;
}

.card-content-back {
    margin-top: 1.32vw;
}

#artist-image-back {
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 1.04vw;
    margin-left: -1.2vw;
    margin-top: -2.3vw;
    padding: 0.5vw;
    margin-right: 2vw;
}

#artist-image-back #artist-img-back {
    border-radius: 1vw;
    border: 0.4vw solid #4070f4;
    box-shadow: 0.6vw 1vw 2vw 0.4vw #474747;
    
}

#artist-image-back #artist-img-back:hover {
    border-radius: 1vw;
    border: 0.5vw solid #4070f4;
    box-shadow: 0.6vw 1.6vw 2vw 0.4vw #474747;
    transform: scale(1.081);
}

#members, #concerts {
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: -1vw;
    margin-left: 1vw;
}

#members {
    margin-top: -1vw;
    margin-bottom: 0.18vw;
}

#concerts {
    margin-top: -0.6vw;
    margin-bottom: -0.3vw;
}

.album-member {
    font-size: 1.04vw;
    margin-left: 1.6vw;
}

.artists-concerts {
    font-size: 1.1vw;
    margin-left: 1vw;
}

/* Transition pour remettre la carte à sa position initiale */
.return-button {
    width: 10.2vw;
    height: 3.0vw;
    margin-bottom: -0.8vw;
    margin-left: 30%;
    border: #265df2 double 0.34vw;
    border-radius: 0.75vw;
    font-size: 1.4vw;
}

.return-button:active {
    transform:scale(0.9);
}
}
@media (min-width: 768.01px) and (max-width: 1024px) {

/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    font-size: 5vw;
}

#explication {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

.espace-bar {
    width: 75vw;
    height: 0.2rem;
    margin-bottom: 2.4vw;
}

/************ Mise en forme concernant la barre de recherche************/

.search-title {
    font-size: 2.8vw;
}

.search-bar {
    width: 35vw;
    font-size: 2.4vw;
    margin-left: 23%;
}

#search-submit {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    margin-left: 0.4vw;  
}

#search-submit:hover {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #4070f4 ridge;
    border-radius: 1vw;
    transform: scale(1.1);
}

#search-submit:active {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    transform: scale(0.98);
}

/*************** Mise en forme concernant les filtres ******************/

/*----------- Mise en forme concernant l'ensemble des filtres ----------------*/

#filters {
    font-size: 4vw;
    margin: 1.16vw 0 0 3.8vw;
}

.submit-filter {
    padding: 2.4vw 0;
}

#categorie, #categorie2 {
    font-size: 1.7rem;
    border-radius: 0.96vw;
    height: 2.3rem;
    width: 15vw;
}

/*-------------- Mise en forme concernant les sections généralement ---------------*/

.filter-title {
    font-size: 3.2vw;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-size: 1.18rem;
    margin: 0.2vw 0.2vw 0.2vw 0.45vw;
    font-weight: 470;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-sens-creation, #button-submit-filter-creation, #button-artist-length {
    font-size: 2.4vw;
    height: 3rem;
    width: 13vw;
    border-radius: 0.9vw;
    border: #4f78e9 ridge 0.4vw;
    margin-top: -0.4rem;
}

#button-artist-length {
    margin-left: -2.8rem;
}

/*/////////// Mise en forme concernant la section qui gère la gestion des cards par ordre alphabétique ou non \\\\\\\\\\\\\*/

#read-section {
    padding-left: 0.55vw;
    margin: 0.2rem 2.5vw 0.55rem 0;
    border-radius: 0.47rem;
}

#read-section > label {
    padding-left: 2.3vw;
}

/*/////////// Mise en forme concernant la section qui gère les Dates de Concerts \\\\\\\\\\\\\\\*/

#concert-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.96vw;
}

/* Sous-section qui gère tous les artistes qui ont eu un concert entre 2 dates précises précisées sous de date*/

/*/////////// Mise en forme concernant la section qui gère les Dates de Créations des groupes \\\\\\\\\\\\\*/

#creation-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.94vw;
}

#creation-section > label {
    padding-left: 2.3vw;
}

/* Sous-section qui gère l'ordre de création des groupe du plus récent au plus ancien par liste déroulante */

#categorie2 {
    width: 15rem;
}



/* Sous-section qui gère les dates de création des groupes entre 2 dates mais choisi par des checkboxs */

#table-choiceBetweenTwoDates {
    margin: -3.8vw 0 1.96vw 2.3vw;
}

#label-searchDate {
    margin-right: 1.14vw;
}
.concert-dates > label {
    padding-left: 2.95vw;
}

#concert-section > label {
    margin-left: 1.7rem;
}
 
#research-startDate, #research-endDate {
    font-size: 1.7rem;
    border-radius: 0.96vw;
    height: 2.9rem;
    width: 25vw;
    margin-left: 7rem;
}

#research-endDate {
    margin-left: 9rem;
}

#before-1980 {
    height: 1.175rem;
    width: 1.175rem;
    margin-left: 4.3rem;
    margin-bottom: -0.1rem;
}

#date_1980-1990 {
    height: 1.175rem;
    width: 1.175rem;
    margin-left: 0.35rem;
    margin-bottom: -0.1rem;
}

#date_1990-2000 {
    height: 1.175rem;
    width: 1.175rem;
    margin-left: 0.0675rem;
    margin-bottom: -0.1rem;
}

#date_2000-2010 {
    height: 1.175rem;
    width: 1.175rem;
    margin-left: 0.125rem;
    margin-bottom: -0.1rem;
}

#after-2010 {
    height: 1.175rem;
    width: 1.175rem;
    margin-left: 8.25rem;
    margin-bottom: -0.1rem;
}

.artist-length {
    font-size: 3.4vw;
}

#nombre {
    height: 4.7vw;
    width: 7.8vw;
    font-size: 3.2vw;
    border-radius: 0.05rem;
}

#titlenombre {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 22%;
}


.page-number {
    margin-left: 45%;
}

#previous {
    height: 3.4rem;
    width: 3.4rem;
}

#next {
    height: 3.4rem;
    width: 3.4rem;
}

/********************************************************************************/
/*************** Mise en forme concernant les cards en général ******************/
/********************************************************************************/

.card-container {
    padding: 3vw 0;
}

.artist-list {
    gap: 2.3vw;
    margin: 0 2.3vw;
}

.card {
    width: 34vw;
    height: 44.9vw;
    border-radius: 4vw;
}

.card.centered {
   transform: translate(-50%, -50%) scale(1.9) rotateY(180deg); /* Centrer avec une échelle augmentée */
}

/*////////////// Mise en forme concernant la coté front \\\\\\\\\\\\\\\\*/

.card-front {
    border: 0.76vw #dbd9d9 ridge;
    border-radius: 3.1vw;
}

.card .image-content {
    width: 100%;
    height: 60%;
}

.card .image-content img {
    border-radius: 1vw;
}

.overlay {
    height: 93%;
    width: 100%;
    border-radius: 2.4vw 2.4vw 0 3.1vw;
}

.overlay::before, .overlay::after {
    bottom: -4.8vw;
    height: 4.8vw;
    width: 4.8vw;
}

.overlay::after {
    border-radius: 0 3.1vw 0 0;
}

.image-content {
    row-gap: 0.66vw;
    margin: 0 0 -4vw 0;
}

.image-content {
    padding: 1.8vw 1.8vw 0;
}

#artist-image {
    height: 18vw;
    width: 18vw;
    margin-top: 1.4vw;
    padding: 0.5vw;
}

#artist-image #artist-img {
    border: 0.6vw solid var(--overlay-color);
}

#artistName {
    font-size: 2.3vw;
    margin-top: 0.4vw;
}

#dateOfCreat {
    font-size: 1.96vw;
    line-height: 3.8vw;
}

#firstAlbum {
    font-size: 1.86vw;
    line-height: 2.3vw;
    margin-top: -1vw;
}

.flip-button {
    width: 15vw;
    height: 5.4vw;
    margin-bottom: 1.4vw;
    left: 28%;
    border: #265df2 double 0.4vw;
    border-radius: 1vw;
    font-size: 1.9vw;
}

/*/////////////// Mise en forme concernant la coté back \\\\\\\\\\\\\\\\*/

.card .card-back {
    border-radius: 1vw;
    border: #333 0.6vw ridge;
    box-shadow: inset 0.6vw 2vw 2vw #474747 ;
    padding: 2vw;
}

.card-back {
    border-radius: 3vw;
}

.card-content-back {
    margin-top: 1.32vw;
}

#artist-image-back {
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 1.04vw;
    margin-left: -1.2vw;
    margin-top: -2.3vw;
    padding: 0.5vw;
    margin-right: 2vw;
}

#artist-image-back #artist-img-back {
    border-radius: 1vw;
    border: 0.4vw solid #4070f4;
    
}

#artist-image-back #artist-img-back:hover {
    border-radius: 1vw;
    border: 0.5vw solid #4070f4;
    box-shadow: 0.6vw 1.6vw 2vw 0.4vw #474747;
    transform: scale(1.081);
}

#members, #concerts {
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: -1vw;
    margin-left: 1vw;
}

#members {
    margin-top: -1vw;
    margin-bottom: 0.18vw;
}

#concerts {
    margin-top: -0.6vw;
    margin-bottom: -0.3vw;
}

.album-member {
    font-size: 1.04vw;
    margin-left: 1.6vw;
}

.artists-concerts {
    font-size: 1.1vw;
    margin-left: 1vw;
}

/* Transition pour remettre la carte à sa position initiale */
.return-button {
    width: 10.2vw;
    height: 3.0vw;
    margin-bottom: -0.8vw;
    margin-left: 30%;
    border: #265df2 double 0.34vw;
    border-radius: 0.75vw;
    font-size: 1.4vw;
}
}
@media (min-width: 1024.01px) and (max-width: 1280px) {

/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    font-size: 5vw;
}

#explication {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

.espace-bar {
    width: 75vw;
    height: 0.2rem;
    margin: 0 auto;
    margin-bottom: 2.4vw;
}

/************ Mise en forme concernant la barre de recherche************/
.search-title {
    font-size: 2.8vw;
}

.search-bar {
    width: 35vw;
    font-size: 2.4vw;
    margin-left: 23%;
}

#search-submit {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    margin-left: 0.4vw;  
}

#search-submit:hover {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #4070f4 ridge;
    border-radius: 1vw;
}

#search-submit:active {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
}

/*************** Mise en forme concernant les filtres ******************/

/*----------- Mise en forme concernant l'ensemble des filtres ----------------*/

#filters {
    font-size: 4vw;
    margin: 1.16vw 0 0 3.8vw;
}

.submit-filter {
    padding: 2.4vw 0;
}

#categorie, #categorie2 {
    font-size: 2.5vw;
    border-radius: 0.96vw;
    height: 3.1rem;
    width: 15vw;
}

/*-------------- Mise en forme concernant les sections généralement ---------------*/

.filter-title {
    font-size: 3.2vw;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-size: 1.65rem;
    margin: 0.2vw 0.2vw 0.2vw 0.45vw;
    font-weight: 470;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-sens-creation, #button-submit-filter-creation, #button-artist-length {
    font-size: 2.4vw;
    height: 3rem;
    width: 13vw;
    border-radius: 0.9vw;
    border: #4f78e9 ridge 0.4vw;
    margin-top: -0.4rem;
}

#button-artist-length {
    margin-left: -2.8rem;
}

/*/////////// Mise en forme concernant la section qui gère la gestion des cards par ordre alphabétique ou non \\\\\\\\\\\\\*/

#read-section {
    padding-left: 0.55vw;
    margin: 0.2rem 2.5vw 0.55rem 0;
    border-radius: 0.47rem;
}

#read-section > label {
    padding-left: 2.3vw;
}

/*/////////// Mise en forme concernant la section qui gère les Dates de Concerts \\\\\\\\\\\\\\\*/

#concert-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.96vw;
}

#concert-section > label {
    padding-left: 1.8rem;
}

/* Sous-section qui gère tous les artistes qui ont eu un concert entre 2 dates précises précisées sous de date*/

/*/////////// Mise en forme concernant la section qui gère les Dates de Créations des groupes \\\\\\\\\\\\\*/

#creation-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.94vw;
}

#creation-section > label {
    padding-left: 2.3vw;
}

/* Sous-section qui gère l'ordre de création des groupe du plus récent au plus ancien par liste déroulante */

#categorie2 {
    width: 20vw;
}

/* Sous-section qui gère les dates de création des groupes entre 2 dates mais choisi par des checkboxs */

#table-choiceBetweenTwoDates {
    margin: -3.8vw 0 1.96vw 2.3vw;
}

#label-searchDate {
    margin-right: 1.14vw;
}
.concert-dates > label {
    padding-left: 2.95vw;
}

#research-startDate, #research-endDate {
    font-size: 2.1rem;
    border-radius: 0.96vw;
    height: 2.9rem;
    width: 25vw;
    margin-left: 7rem;
}

#research-endDate {
    margin-left: 9.85rem;
}

#before-1980 {
    height: 1.375rem;
    width: 1.375rem;
    margin-left: 6.1rem;
    margin-bottom: -0.1rem;
}

#date_1980-1990 {
    height: 1.375rem;
    width: 1.375rem;
    margin-left: 0.5725rem;
    margin-bottom: -0.1rem;
}

#date_1990-2000 {
    height: 1.375rem;
    width: 1.375rem;
    margin-left: 0.135rem;
    margin-bottom: -0.1rem;
}

#date_2000-2010 {
    height: 1.375rem;
    width: 1.375rem;
    margin-left: 0.25rem;
    margin-bottom: -0.1rem;
}

#after-2010 {
    height: 1.375rem;
    width: 1.375rem;
    margin-left: 11.55rem;
    margin-bottom: -0.1rem;
}

.artist-length {
    font-size: 3.4vw;
}

#nombre {
    height: 4.7vw;
    width: 7.8vw;
    font-size: 3.2vw;
    border-radius: 0.2rem;
}

#titlenombre {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 22%;
}

.page-number {
    margin-left: 45%;
}

#previous {
    height: 3.4rem;
    width: 3.4rem;
}

#next {
    height: 3.4rem;
    width: 3.4rem;
}

/********************************************************************************/
/*************** Mise en forme concernant les cards en général ******************/
/********************************************************************************/

.card-container {
    padding: 3vw 0;
}

.artist-list {
    gap: 2.3vw;
    margin: 0 2.3vw;
}

.card {
    width: 34vw;
    height: 44.9vw;
    border-radius: 4vw;
}

.card.centered {
   transform: translate(-50%, -50%) scale(1.6) rotateY(180deg); /* Centrer avec une échelle augmentée */
}

/*////////////// Mise en forme concernant la coté front \\\\\\\\\\\\\\\\*/

.card-front {
    border: 0.76vw #dbd9d9 ridge;
    border-radius: 3.1vw;
}

.card .image-content {
    width: 100%;
    height: 60%;
}

.card .image-content img {
    border-radius: 1vw;
}

.overlay {
    height: 93%;
    width: 100%;
    border-radius: 2.4vw 2.4vw 0 3.1vw;
}

.overlay::before, .overlay::after {
    bottom: -4.8vw;
    height: 4.8vw;
    width: 4.8vw;
}

.overlay::after {
    border-radius: 0 3.1vw 0 0;
}

.image-content {
    row-gap: 0.66vw;
    margin: 0 0 -4vw 0;
}

.image-content {
    padding: 1.8vw 1.8vw 0;
}

#artist-image {
    height: 18vw;
    width: 18vw;
    margin-top: 1.4vw;
    padding: 0.5vw;
}

#artist-image #artist-img {
    border: 0.6vw solid var(--overlay-color);
}

#artistName {
    font-size: 2.3vw;
    margin-top: 0.4vw;
}

#dateOfCreat {
    font-size: 1.96vw;
    line-height: 3.8vw;
}

#firstAlbum {
    font-size: 1.86vw;
    line-height: 2.3vw;
    margin-top: -1vw;
}

.flip-button {
    width: 15vw;
    height: 5.4vw;
    margin-bottom: 1.4vw;
    left: 28%;
    border: #265df2 double 0.4vw;
    border-radius: 1vw;
    font-size: 1.9vw;
}

/*/////////////// Mise en forme concernant la coté back \\\\\\\\\\\\\\\\*/

.card .card-back {
    border-radius: 1vw;
    border: #333 0.6vw ridge;
    box-shadow: inset 0.6vw 2vw 2vw #474747 ;
    padding: 2vw;
}

.card-back {
    border-radius: 3vw;
}

.card-content-back {
    margin-top: 1.32vw;
}

#artist-image-back {
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 1.04vw;
    margin-left: -1.2vw;
    margin-top: -2.3vw;
    padding: 0.5vw;
    margin-right: 2vw;
}

#artist-image-back #artist-img-back {
    border-radius: 1vw;
    border: 0.4vw solid #4070f4;
    
}

#artist-image-back #artist-img-back:hover {
    border-radius: 1vw;
    border: 0.5vw solid #4070f4;
    transform: scale(1.081);
}

#members, #concerts {
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: -1vw;
    margin-left: 1vw;
}

#members {
    margin-top: -1vw;
    margin-bottom: 0.18vw;
}

#concerts {
    margin-top: -0.6vw;
    margin-bottom: -0.3vw;
}

.album-member {
    font-size: 1.04vw;
    margin-left: 1.6vw;
}

.artists-concerts {
    font-size: 1.1vw;
    margin-left: 1vw;
}

/* Transition pour remettre la carte à sa position initiale */
.return-button {
    width: 10.2vw;
    height: 3.0vw;
    margin-bottom: -0.8vw;
    margin-left: 30%;
    border: #265df2 double 0.34vw;
    border-radius: 0.75vw;
    font-size: 1.4vw;
}
}
@media screen and (min-width: 1280.01px) {

/* Mise en forme concernant le titre et le sous-titre */
#groupTitlePage {
    font-size: 5vw;
}

#explication {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

.espace-bar {
    width: 75vw;
    height: 0.2rem;
    margin: 0 auto;
    margin-bottom: 2.4vw;
}

/************ Mise en forme concernant la barre de recherche************/

.search-title {
    font-size: 2.8vw;
}

.search-bar {
    width: 35vw;
    font-size: 2.4vw;
    margin-left: 23%;
}

#search-submit {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
    margin-left: 0.4vw;  
}

#search-submit:hover {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #4070f4 ridge;
    border-radius: 1vw;
}

#search-submit:active {
    font-size: 2.4vw;
    width: 16vw;
    border: 0.5vw #6453fa ridge;
    border-radius: 1vw;
}

/*************** Mise en forme concernant les filtres ******************/

/*----------- Mise en forme concernant l'ensemble des filtres ----------------*/

#filters {
    font-size: 4vw;
    margin: 1.16vw 0 0 3.8vw;
}

.submit-filter {
    padding: 2.4vw 0;
}

#categorie, #categorie2 {
    font-size: 2.5vw;
    border-radius: 0.96vw;
    height: 3.3rem;
}

#categorie {
    width: 7rem;
}
/*-------------- Mise en forme concernant les sections généralement ---------------*/

.filter-title {
    font-size: 3.2vw;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.form-filterHome-alphabet, .form-filterHome-concert, .form-filterHome-creation {
    font-size: 1.8rem;
    margin: 0.2vw 0.2vw 0.2vw 0.45vw;
}

#button-submit-filter-alphabet, #button-submit-filter-concert, #button-submit-filter-dates, #button-submit-filter-sens-creation, #button-submit-filter-creation, #button-artist-length {
    font-size: 2.1rem;
    height: 3.5rem;
    width: 13vw;
    border-radius: 0.9vw;
    border: #4f78e9 ridge 0.4vw;
    margin-top: -0.4rem;
}

#button-artist-length {
    margin-left: -2.8rem;
}

/*/////////// Mise en forme concernant la section qui gère la gestion des cards par ordre alphabétique ou non \\\\\\\\\\\\\*/

#read-section {
    padding-left: 0.55vw;
    margin: 0.2rem 2.5vw 0.55rem 0;
    border-radius: 0.47rem;
}

#read-section > label {
    padding-left: 2.3vw;
}

/*/////////// Mise en forme concernant la section qui gère les Dates de Concerts \\\\\\\\\\\\\\\*/

#concert-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.96vw;
}

#concert-section > label {
    padding-left: 2.5rem;
}

/* Sous-section qui gère tous les artistes qui ont eu un concert entre 2 dates précises précisées sous de date*/

/*/////////// Mise en forme concernant la section qui gère les Dates de Créations des groupes \\\\\\\\\\\\\*/

#creation-section {
    padding-left: 0.55vw;
    margin: 0.55rem 2.5vw 0.55rem 0;
    border-radius: 0.94vw;
}

#creation-section > label {
    padding-left: 2.3vw;
}

/* Sous-section qui gère l'ordre de création des groupe du plus récent au plus ancien par liste déroulante */

#categorie2 {
    width: 17rem;
}

/* Sous-section qui gère les dates de création des groupes entre 2 dates mais choisi par des checkboxs */

#table-choiceBetweenTwoDates {
    margin: -3.8vw 0 1.96vw 2.3vw;
}

#label-searchDate {
    margin-right: 1.14vw;
}
.concert-dates > label {
    padding-left: 2.95vw;
}

#research-startDate, #research-endDate {
    font-size: 2.1rem;
    border-radius: 0.96vw;
    height: 2.9rem;
    width: 25vw;
    margin-left: 7rem;
}

#research-endDate {
    margin-left: 10.2rem;
}

#before-1980 {
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 6.6rem;
    margin-bottom: -0.4rem;
}

#date_1980-1990 {
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 0.55rem;
    margin-bottom: -0.4rem;
}

#date_1990-2000 {
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 0.175rem;
    margin-bottom: -0.4rem;
}

#date_2000-2010 {
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 0.2rem;
    margin-bottom: -0.4rem;
}

#after-2010 {
    height: 1.625rem;
    width: 1.625rem;
    margin-left: 12.49rem;
    margin-bottom: -0.4rem;
}

.artist-length {
    font-size: 4rem;
}

#titlenombre {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 22%;
}

#nombre {
    height: 4rem;
    width: 7rem;
    font-size: 2.9rem;
    border-radius: 0.8rem;
}

.page-number {
    margin-left: 45%;
}

#previous {
    height: 3.4rem;
    width: 3.4rem;
}

#next {
    height: 3.4rem;
    width: 3.4rem;
}

/********************************************************************************/
/*************** Mise en forme concernant les cards en général ******************/
/********************************************************************************/

.card-container {
    padding: 3vw 0;
}

.artist-list {
    gap: 2.3vw;
    margin: 0 2.3vw;
}

.card {
    width: 34vw;
    height: 44.9vw;
    border-radius: 4vw;
}

.card.centered {
   transform: translate(-50%, -50%) scale(1) rotateY(180deg); /* Centrer avec une échelle augmentée */
}

/*////////////// Mise en forme concernant la coté front \\\\\\\\\\\\\\\\*/

.card-front {
    border: 0.76vw #dbd9d9 ridge;
    border-radius: 3.1vw;
}

.card .image-content {
    width: 100%;
    height: 60%;
}

.card .image-content img {
    border-radius: 1vw;
}

.overlay {
    height: 93%;
    width: 100%;
    border-radius: 2.4vw 2.4vw 0 3.1vw;
}

.overlay::before, .overlay::after {
    bottom: -4.8vw;
    height: 4.8vw;
    width: 4.8vw;
}

.overlay::after {
    border-radius: 0 3.1vw 0 0;
}

.image-content {
    row-gap: 0.66vw;
    margin: 0 0 -4vw 0;
}

.image-content {
    padding: 1.8vw 1.8vw 0;
}

#artist-image {
    height: 18vw;
    width: 18vw;
    margin-top: 1.4vw;
    padding: 0.5vw;
}

#artist-image #artist-img {
    border: 0.6vw solid var(--overlay-color);
}

#artistName {
    font-size: 2.3vw;
    margin-top: 0.4vw;
}

#dateOfCreat {
    font-size: 1.96vw;
    line-height: 3.8vw;
}

#firstAlbum {
    font-size: 1.86vw;
    line-height: 2.3vw;
    margin-top: -1vw;
}

.flip-button {
    width: 15vw;
    height: 5.4vw;
    margin-bottom: 1.4vw;
    left: 28%;
    border: #265df2 double 0.4vw;
    border-radius: 1vw;
    font-size: 1.9vw;
}

/*/////////////// Mise en forme concernant la coté back \\\\\\\\\\\\\\\\*/

.card .card-back {
    border-radius: 1vw;
    border: #333 0.6vw ridge;
    box-shadow: inset 0.6vw 2vw 2vw #474747 ;
    padding: 2vw;
}

.card-back {
    border-radius: 3vw;
}

.card-content-back {
    margin-top: 1.32vw;
}

#artist-image-back {
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 1.04vw;
    margin-left: -1.2vw;
    margin-top: -2.3vw;
    padding: 0.5vw;
    margin-right: 2vw;
}

#artist-image-back #artist-img-back {
    border-radius: 1vw;
    border: 0.4vw solid #4070f4;
    box-shadow: 0.6vw 1vw 2vw 0.4vw #474747;
    
}

#artist-image-back #artist-img-back:hover {
    border-radius: 1vw;
    border: 0.5vw solid #4070f4;
    box-shadow: 0.6vw 1.6vw 2vw 0.4vw #474747;
    transform: scale(1.081);
}

#members, #concerts {
    font-size: 1.4vw;
    line-height: 3.6vw;
    margin-bottom: -1vw;
    margin-left: 1vw;
}

#members {
    margin-top: -1vw;
    margin-bottom: 0.18vw;
}

#concerts {
    margin-top: -0.6vw;
    margin-bottom: -0.3vw;
}

.album-member {
    font-size: 1.04vw;
    margin-left: 1.6vw;
}

.artists-concerts {
    font-size: 1.1vw;
    margin-left: 1vw;
}

/* Transition pour remettre la carte à sa position initiale */
.return-button {
    width: 10.2vw;
    height: 3.0vw;
    margin-bottom: -0.8vw;
    margin-left: 30%;
    border: #265df2 double 0.34vw;
    border-radius: 0.75vw;
    font-size: 1.4vw;
}
}