{{ define "artistinfo" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/artist.css"/>    
    <title>{{.ArtistPage}}</title>
</head>
<body>
    <div class="container">
        <h1 id="artistName">{{.ArtistName}}</h1>

        <div class="message">
            <p id="explication">Choisissez votre groupe préféré ou rechercher graçe aux différents filtres</p>
        </div>
    
        <h2>Filtres</h2>
    
    <form action=".go" method="GET">
        <!-- Champ de sélection pour les catégories -->
        <label for="categorie">Catégorie:</label>
        <select id="categorie" name="categorie">
            <option value="normalSens">A-Z</option>
            <option value="reverseSens">Z-A</option>
            <option value="date"></option>
            <option value=""></option>
        </select><br><br>
        
        <!-- Champ de sélection pour les dates -->
        <label for="date">Date:</label>
        <input type="date" id="date" name="date"><br><br>

        <!-- Case à cocher pour inclure ou non les filtres supplémentaires -->
        <label for="extra_filters">Activer les filtres supplémentaires:</label>
        <input type="checkbox" id="extra_filters" name="extra_filters" value="oui"><br><br>
        
        <!-- Bouton d'envoi -->
        <input type="submit" value="Envoyer">
    </form>
        
    </div>
    <div class="artist">
        <img src="{{.artist}}" alt="Image de l'artiste à chercher" style="max-width: 100px; max-height: 100px;"/>
    </div>
    <a href="/">
        <button id="returnHome">Retour à la page d'accueil</button>
    </a>
</body>
</html>
{{ end }}